.editwindow {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(50%, 50%);

  width: 50%;
  height: 90%;
  background-color: #182848;

  transform: translate(-50%);
  padding: 2rem;

  border: 1rem #4b6cb7 solid;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.close-edit-window {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.4rem;
  color: ivory;
}

@media (max-width: 900px) {
  .editwindow {
    position: absolute;
    width: 90vw;
    height: 90vh;
    z-index: 5;
  }
}
