.progress-bar {
  border-radius: 100px;
  width: 100%;
  height: 1rem;
  background-color: #4b6cb7;
  justify-self: center;
}

.progress-full {
  border-radius: inherit;
  width: 100%;
  height: inherit;
  background-color: #fae3ab;
}

.progress-incomplete {
  border-radius: inherit;
  width: 55%;
  height: inherit;
  background-color: #fae3ab;
}
